obj
bin
/.vs/VeemTest/DesignTimeBuild/.dtbcache
/.vs/VeemTest/v16/.suo
/.vs/VeemTest/v16/Server/sqlite3/db.lock
/.vs/VeemTest/v16/Server/sqlite3/storage.ide
/.vs/VeemTest/v16/Server/sqlite3/storage.ide-shm
/.vs/VeemTest/v16/Server/sqlite3/storage.ide-wal
